# A tricky code collection

This repository will be a collection of tricky code.

Unless otherwise specified, programs linked from this repository are
written by myself. I'm also trying to mention pioneer works for each
code.

## Categories

%CATEGORIES%

## Languages

%LANGUAGES%
